@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Radha";
  src: url(./4a1b9e81c4451a58-s.p.woff2);
}

::selection{
  background-color: #aa02d823;
  color: #b402d8;
}

body {
  font-family: "Radha";
  margin: 0%;
  padding: 0%;
}

#menu{
  position: fixed;
  top: 0;
  margin: auto;
  transition: all 0.1ms ease-in;
  transform: translateY(-100vh);
}

.button_slide {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}
