@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Radha";
  src: url(./4a1b9e81c4451a58-s.p.woff2);
}

::selection {
  background-color: #8800ff35;
  color: #120ef14c;
}

::-webkit-scrollbar{
  width: 2px;
  height: 2px;
  background-color: transparent;
}

body {
  font-family: "Radha";
  margin: 0%;
  padding: 0%;
  webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.Gradient {
  aspect-ratio: 2.6423751687;
  width: 150%;
  left: -25%;
  bottom: -25vw;
  background: linear-gradient(1turn, #0267ff 12.93%, rgba(17, 255, 226, .83) 90.84%);
}

.conic_line{
  background:conic-gradient(from 90deg at 50% 50%, #00000000 50%, #000 50%),radial-gradient(#a319ff22 0%, transparent 80%)
}

#menu {
  position: fixed;
  top: 0;
  margin: auto;
  transition: all 0.1ms ease-in;
  transform: translateY(-100vh);
}

.button_slide {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.heroIn{
  animation: 1000ms ease 0s 1 normal backwards running textReveal;
}

@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.text_srcoll h1 {
  animation: scrollText 10s infinite linear;
}

@keyframes scrollText {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

/* .gssss {
  --color: #393BB2 ;
  --color-bg-primary: #000212 ;
  margin: -128px auto; 
  pointer-events: none;
  user-select: none;
  position: absolute;
  margin: 0px auto;
  /* height: 500px;
  overflow: hidden;
  /* mask-image: radial-gradient(circle, black, transparent 100%); 
}

.gssss::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: radial-gradient(circle at bottom center, #2f1345, transparent 80%);
  opacity: 0.4;
}

.gssss::after {
  content: "";
  position: absolute;
  background: black;
  width: 200%;
  left: -50%;
  z-index: 0;
  aspect-ratio: 1 / 0.99;
  border-radius: 50%;
  border-top: 1px solid #020347d7;
  top: 80%;
} */